@import "_bootstrap/variables.less";
@import "_bootstrap/mixins.less";

@import "utils/_bootstrap-variables.less";
@import "utils/_colour-variables.less";
@import "utils/_size-variables.less";

.content-links {
    display: none;
    &.content-links-multicolour {
        display: block;
    }
}

.task {
    background: 0;
    padding-top: 40px;
    position: relative;
    height: 376px;
}

.task__icon {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: lightpink;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.task__content {
    background: #fff;
    border: solid 1px #ccc;
    border-bottom-width: 2px;
    padding: 50px 20px 20px;
    height: 333px;
}