html {
    overflow-y: scroll;
    // ensure vertical scrollbar, to avoid layout jumping on short pages
}

body {
    &.modal-open {
        padding-right: 0 !important;
    }
}

@-ms-viewport {
  width: auto;
}
// IE10/11 overlapping scrollbar bugfix
//http://stackoverflow.com/questions/17045132/scrollbar-overlay-in-ie10-how-do-you-stop-that


.page {
    min-width: 320px;
    // Fix row and column elements escaping page width
    overflow: hidden;
}

.container {
    @media (max-width: @screen-xs) {
        padding-left: 10px;
        padding-right: 10px;
    }
}
