h1, h2 {
    color: @blue;
    border-bottom: solid 1px @blue;
    padding-bottom: 0.31em;
    margin-bottom: 0.38em;
}

@media (max-width: @screen-xs) {
    h1 { font-size: 36px; }
    h2 { font-size: 26px; }
    h3 { font-size: 22px; }
}

.pageContent a {
    text-decoration: underline;
}

.vertical-space {
    border: 0;
    height: 1px;
}
