<nav class="navbar navbar-default navbar-static-top header-navigation">
  <div class="container">
    <a class="navbar-brand" href="#">
      <span class="sr-only">NHS</span>
    </a>
    How can we help?
  </div>
</nav>
