<header class="navbar navbar-default navbar-static-top siteHeader">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/images/nhs-logo-med.png" alt="NHS" class="siteHeader__logo">
      <span class="sr-only">NHS</span>
    </a>
    
    <div class="siteHeader__controls">
      <button class="siteHeader__button btn">
        <span class="icon icon--user"></span>
        <span class="siteHeader__button__label">Login</span>
      </button>
      <button class="siteHeader__button btn">
        <span class="icon icon--menu"></span>
        <span class="siteHeader__button__label">Menu</span>
      </button>
    </div>
  </div>
</header>
