<nav class="navbar navbar-default navbar-static-top header-navigation">
  <div class="container">
    <a class="navbar-brand" href="#">
      <span class="sr-only">NHS</span>
    </a>
    
    <div class="nav navbar-nav navbar-right">
      <button class="header-button-login btn btn-default navbar-btn">
        Login
      </button>
      <button class="header-button-menu btn btn-default navbar-btn">
        Menu
      </button>
    </div>
  </div>
</nav>
