.siteHeader {
    background: @blue;
    color: #fff;
    border-color: @blue;
    .alpha {
        color: #fff;
        font-style: italic;
        vertical-align: top;
        @media (max-width: @screen-sm) {
            font-size: 10px;
            
            text-transform: uppercase;
            font-style: normal;
        }
    }
    @media (max-width: @screen-xs) {
        min-height: 50px;
    }
}
.siteHeader__brand {
    display: table;
    float: left;
    height: @navbar-height;
    margin-right: 15px;
    text-decoration: none;
    &:hover, &:focus {
        text-decoration: none;
    }
    @media (min-width: @screen-md) {
        margin-right: 50px;
    }
    > span {
        display: table-cell;
        vertical-align: middle;
    }
    @media (max-width: @screen-xs) {
        height: 50px;
    }
}

.siteHeader__logo {
    margin-right: 8px;
    @media (max-width: @screen-sm) {
        margin-right: 2px;
    }
}

@media (max-width: @screen-sm) {
    .siteHeader__logo {
        width: 58px;
    }
    .siteHeader__choices {
        width: 88px;
    }
}

.siteHeader__controls {
    height: 50px;
    .navbar-vertical-align(50px);
    float: right;
    margin-left: 15px;
    @media (max-width: @screen-xs) {
        margin: 0;
        margin-right: -10px;
    }
}

.siteHeader__button {
    text-align: center;
    background: @navy;
    color: #fff;
    height: 100%;
    .box-sizing(border-box);
    padding: 0;
    min-width: 50px;
    margin-left: 6px;
    .transition(.4s ease background);
    line-height: 0;
    &:hover, &:focus {
        color: #fff;
    }
    &:hover, &:focus {
        background: #fff;
        color: @navy;
        .transition-duration(0s);
        .icon--user {
            background-image: url('../images/icon-user-navy.png')
        }
        .icon--menu {
            background-image: url('../images/icon-menu-navy.png')
        }
    }
    @media (max-width: @screen-xs) {
        float: left;
        margin: 0;
        background-color: transparent;
        border-left: solid 1px mix(@blue, #fff, 80%);
    }
}
.siteHeader__button__label {
    display: block;
    line-height: 1;
    font-size: 14px;
    @media (min-height: @screen-xs) {
        margin-top: 5px;
    }
}

