.siteHeader {
    background: @blue;
    color: #fff;
    img {
        
    }
}
.siteHeader__brand {
    display: table;
    float: left;
    height: @navbar-height;
    margin-right: 15px;
    > span {
        display: table-cell;
        vertical-align: middle;
    }
}
.siteHeader__logo {
//    position: absolute;
//    top: 0;
//    bottom: 0;
//    margin: auto;
}

@media (max-width: @screen-xs) {
    .siteHeader__logo {
        width: 65px;
    }
    .siteHeader .siteHeader__choices {
        display: none;
    }
}

.siteHeader__controls {
    @height: 50px;
    @vertical-margin: (@navbar-height - @height) / 2;
    float: right;
    height: @height;
    margin-top: @vertical-margin;
    margin-bottom: @vertical-margin;
    margin-left: 15px;  
}

.siteHeader__button {
    text-align: center;
    background: @navy;
    color: #fff;
    height: 100%;
    .box-sizing(border-box);
    padding: 0;
    min-width: 50px;
    margin-left: 6px;
    .transition(.4s ease background);
    &:hover, &:focus {
        color: #fff;
    }
    &:hover, &:focus {
        background: #fff;
        color: @navy;
        .transition-duration(0s);
        .icon--user {
            background-image: url('../images/icon-user-blue.png')
        }
        .icon--menu {
            background-image: url('../images/icon-menu-blue.png')
        }
    }
}
.siteHeader__button__label {
    display: block;
    line-height: 1;
    font-size: 14px;
}

