.siteHeader {
    background: @blue;
    color: #fff;
    .alpha {
        color: #fff;
        font-style: italic;
        vertical-align: top;
        font-size: 16px;
    }
}
.siteHeader__brand {
    display: table;
    float: left;
    height: @navbar-height;
    margin-right: 15px;
    text-decoration: none;
    @media (min-width: @screen-md) {
        margin-right: 50px;
    }
    > span {
        display: table-cell;
        vertical-align: middle;
    }
}

@media (max-width: @screen-xs) {
    .siteHeader {
        .siteHeader__choices, .alpha {
            display: none;
        }
    }
}
@media (max-width: @screen-sm) {
    // scaling images down ~0.6190476190476191
    .siteHeader__logo {
        width: 65px;
    }
    .siteHeader__choices {
        width: 100px;
    }
}

.siteHeader__controls {
    height: 50px;
    .navbar-vertical-align(50px);
    float: right;
    margin-left: 15px;  
}

.siteHeader__button {
    text-align: center;
    background: @navy;
    color: #fff;
    height: 100%;
    .box-sizing(border-box);
    padding: 0;
    min-width: 50px;
    margin-left: 6px;
    .transition(.4s ease background);
    &:hover, &:focus {
        color: #fff;
    }
    &:hover, &:focus {
        background: #fff;
        color: @navy;
        .transition-duration(0s);
        .icon--user {
            background-image: url('../images/icon-user-blue.png')
        }
        .icon--menu {
            background-image: url('../images/icon-menu-blue.png')
        }
    }
}
.siteHeader__button__label {
    display: block;
    line-height: 1;
    font-size: 14px;
}

