
<ol id="breadcrumb" class="container breadcrumb" data-bind="visible:breadCrumbs().length > 1, foreach: breadCrumbs">
    <li data-bind="css: { active: active }">
      <!--ko ifnot:active--> <a data-bind=" attr: { href: url }, text: text"></a> <!-- /ko -->
      <!--ko if:active--> <span data-bind="text: text"></span><!-- /ko -->
      <span data-bind="visible: $index < breadCrumbViewModel.breadCrumbs - 1" class="divider">></span>
    </li>
 </ol> 
