<div style="background:#f4f4f4; font-size:14px; padding: 2em 0;">
<div class="container">
    <div class="content-links row">
        <div class="col-sm-4 col-md-3">
            <a href="/conditionslist/index" class="task stethoscope">
                <span class="header">Something is wrong!</span><br>
                <span class="subheader">Symptoms, injuries &amp; conditions</span>
            </a>
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="task calendar">
                <span class="header">Find &amp; Book NHS Services</span><br>
            </div>
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="task health">
                <span class="header">Improve your health</span><br>
                <span class="subheader">Lose weight, stop smoking advice</span>
            </div>
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="task feedback">
                <span class="header">Your Feedback</span><br>
                <span class="subheader">Tell us your experience</span>
            </div>
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="task pregnancy">
                <span class="header">Pregnancy &amp; Baby</span><br>
                <span class="subheader">What to expect</span>
            </div>
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="task medicines">
                <span class="header">Medicines</span><br>
                <span class="subheader">Side effects, where to get help</span>
            </div>
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="task social">
                <span class="header">Social Care</span><br>
                <span class="subheader">Getting help, advice for carers</span>
            </div>
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="task travel">
                <span class="header">Travel Medicines</span><br>
                <span class="subheader">EHIC, Vaccinations</span>
            </div>
        </div>
    </div>
</div>
</div>
