<div class="alert alert-success notification" role="alert">
    <span class="glyphicon glyphicon-envelope notification__icon" aria-hidden="true"></span>
    <span class="notification__content">
        <span class="notification__information">
            Your test results are ready
        </span>
        <span class="notification_actions">
            <a href="#" class="notification__button btn">View test results</a>
        </span>
    </span>
</div>

<div class="alert alert-success notification" role="alert">
    <span class="glyphicon glyphicon-envelope notification__icon" aria-hidden="true"></span>
    <span class="notification__content">
        <span class="notification__information">
            A new appointment has been booked for you at Royal Devon & Exeter Hospital on the 18th July. You can accept or change this &hellip;
        </span>
        <span class="notification_actions">
            <a href="#" class="notification__button btn">View appointment</a>
        </span>
    </span>
</div>
