<header class="navbar navbar-default navbar-static-top siteHeader">
  <div class="container">
    
      <a class="siteHeader__brand" href="#">
        <span>
          <img src="/images/nhs-logo-med.png" alt="NHS" class="siteHeader__logo">
          <img src="/images/choices-blue-bg.png" alt="NHS" class="siteHeader__choices">
          <span class="alpha">Alpha</span>
        </span>
      </a>
    
    <div class="siteHeader__controls">
      <button class="siteHeader__button btn">
        <span class="icon icon--user"></span>
        <span class="siteHeader__button__label">Login</span>
      </button>
      <button class="siteHeader__button btn" data-toggle="collapse" data-target=".nhsMenu">
        <span class="icon icon--menu"></span>
        <span class="siteHeader__button__label">Menu</span>
      </button>
    </div>
    
    <form class="siteSearch navbar-form" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="How can we help?">
      </div>
      <button type="submit" class="btn btn-default">
      <span class="sr-only">Search</span>
      <span class="glyphicon glyphicon-search"></span>
      </button>
    </form>
  </div>
</header>
<div class="container">
<div class="collapse nhsMenu">
  <ul>
    <li><a href="#">Something is Wrong! <span>: Symptoms, injures &amp; conditions</span><span class="glyphicon glyphicon-menu-right"></span></a>
    </li><li><a href="#">Find &amp; Book NHS Services <span>: Choose the date and time of your appointment</span><span class="glyphicon glyphicon-menu-right"></span></a>
    </li><li><a href="#">Improve your health <span>: Lose weight, stop smoking advice</span><span class="glyphicon glyphicon-menu-right"></span></a>
    </li><li><a href="#">Your Feedback <span>: Tell us your experience</span><span class="glyphicon glyphicon-menu-right"></span></a>
    </li><li><a href="#">Medicines <span>: Side effects, where to get help</span><span class="glyphicon glyphicon-menu-right"></span></a>
    </li><li><a href="#">Pregnancy &amp; Baby <span>: What to expect</span><span class="glyphicon glyphicon-menu-right"></span></a>
    </li><li><a href="#">Travel Medicines <span>: EHIC, Vaccinations</span><span class="glyphicon glyphicon-menu-right"></span></a>
    </li>
  </ul>
</div>
</div>