<header class="navbar navbar-default navbar-static-top siteHeader">
  <div class="container">
    
      <a class="siteHeader__brand" href="#">
        <span>
          <img src="/images/nhs-logo-med.png" alt="NHS" class="siteHeader__logo">
          <img src="/images/choices-blue-bg.png" alt="NHS" class="siteHeader__choices">
          <span class="alpha">Alpha</span>
        </span>
      </a>
    
    <div class="siteHeader__controls">
      <button class="siteHeader__button btn">
        <span class="icon icon--user"></span>
        <span class="siteHeader__button__label">Login</span>
      </button>
      <button class="siteHeader__button btn" data-toggle="collapse" data-target=".nhsMenu">
        <span class="icon icon--menu"></span>
        <span class="siteHeader__button__label">Menu</span>
      </button>
    </div>
    
    <form class="siteSearch navbar-form" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="How can we help?">
      </div>
      <button type="submit" class="btn btn-default">
      <span class="sr-only">Search</span>
      <span class="glyphicon glyphicon-search"></span>
      </button>
    </form>
  </div>
</header>
<div class="container">
  <div class="collapse nhsMenu">
    <ul>
      <% var navigation = [
        {
          title: "Something is Wrong!",
          subtitle: "Symptoms, injures & conditions",
          icon: "stethoscope"
        },
        {
          title: "Find & Book NHS Services",
          subtitle: "Choose the date and time of your appointment",
          icon: "stethoscope"
        },
        {
          title: "Improve your health",
          subtitle: "Lose weight, stop smoking advice",
          icon: "stethoscope"
        },
        {
          title: "Your Feedback",
          subtitle: "Tell us your experience",
          icon: "stethoscope"
        },
        {
          title: "Medicines",
          subtitle: "Side effects, where to get help",
          icon: "stethoscope"
        },
        {
          title: "Pregnancy & Baby",
          subtitle: "What to expect",
          icon: "stethoscope"
        },
        {
          title: "Travel Medicines",
          subtitle: "EHIC, Vaccinations",
          icon: "stethoscope"
        } 
      ];
      for (var i = 0; i < navigation.length; i++) { %>
        <li>
          <a href="#">
            <%= navigation[i].title %><span class="colon">:</span>
            <span class="subtitle"><%= navigation[i].subtitle %></span>
            <span class="glyphicon glyphicon-menu-right"></span>
          </a>
        </li>
      <% } %>
      </li>
    </ul>
  </div>
</div>