<div class="toolkitThing">
    <% if (locals.title) { %>
    <h3><%- title %></h3>
    <% } %>
    <%- partial(component) %>
    <div>
    <pre><code><%= partial(component) %></code></pre>
    </div>
</div>
