<div class="toolkitThing">
    <% if (locals.title) { %>
    <h3 class="toolkitThing__title"><%- title %></h3>
    <% } %>
    <% if (locals.intro) { %>
    <div class="row">
        <div class="col-sm-8">
            <p class="toolkitThing__intro"><%- intro %></p>
        </div>
    </div>
    <% } %>
    <% if (locals.fullWidth) { %>
        </div></div>
    <% } %>
    <div class="toolkitThing__example">
    <span class="toolkitThing__tag">Example</span>
    <%- partial(component) %>
    </div>
    <% if (locals.fullWidth) { %>
    <div class="container"><div class="pageContent">    
    <% } %>
    <% if (locals.code) { %>
    <pre class="toolkitThing__code"><span class="toolkitThing__tag">Code</span><code><%= partial(component) %></code></pre>
    <% } %>
</div>
