@black: #333;
@grey-01: #666;
@grey-02: #cbcbcb;
@grey-03: #e6e6e6;
@off-white: #f7f7f7;
@white: #fff;

@navy: #003399;
@blue: #0065b7;
@sky-blue: #83c4fd;
@sky-cyan: #ccffff;
@ice-blue: #d9ecfb;
@blue-lighter: #f5f9fc;

@brown: #993300;
@tawny: #cc6600;
@amber: #fe9900;
@orange-light: #fffcf5;

@green: #006600;
@green-grass: #77b259;
@green-light: #f9fef6;

@maroon: #990000;
@red: #f02902;
@pink-pale: #fff8f6;

@purple: #660099;
