.notification {
    position: relative;
    .clearfix();
}
.notification__icon {
    position: absolute;
    font-size: 24px;
    color: @blue;
    height: 28px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.notification .notification__button {
    float: right;
    margin-left: 50px;
    text-decoration: none;
    border: solid 2px @green-grass;
    color: @green;
    font-weight: bold;
    padding: 0.32em 1em;
}
.notification__information {
   display: block;
   overflow: hidden;
   padding-left: 44px;
}
