.serviceFinderWidget {
    background: #fff;
}
.serviceFinderWidget .panel-body {
    padding: 24px;
}
.serviceFinderWidget__heading {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
}
.gpSearch {
    margin-bottom: 14px;
}
.serviceFinderWidget .form-control {
    border-color: #0065B7;
}
.serviceFinderWidget .input-group-addon {
    padding: 0;
    border: 0;
}
.serviceFinderWidget__searchButton {
    -webkit-box-shadow: none;
    box-shadow: none;

}
.serviceFinderWidget__getLocation {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #0065B7;
    width:100%;
    text-align: left;
    position: relative;
}
.serviceFinderWidget__getLocation .glyphicon {
    position: absolute;
    height: 22px;
    top: 0;
    bottom: 0;
    right: 8px;
    margin: auto;
    color: #0065B7;
}
.serviceFinderWidget__address {
    font-size: 16px;
    margin-bottom: 0;
}
.serviceFinderWidget__addressLabel {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 18px;
}
.serviceFinderWidget__serviceName {
    font-size: 20px;
    color: #0065B7;
    font-weight: bold;
    margin-bottom: 10px;
}
.serviceFinderWidget__open {
  border: 1px solid green;
  padding: 8px;
  background-color: #ddffdd;
  color: green;
}
.serviceFinderWidget__closed {
  border: 1px solid maroon;
  padding: 8px;
  background-color: #ffdddd;
  color: maroon;
}
.serviceFinderWidget__call111 {
    vertical-align: initial;
    width: 215px;
}
.serviceFinderWidget__directions {
    padding-bottom: 20px;
}
.serviceFinderWidget__111wrap {
    padding-top: 20px;
}
.serviceFinderWidget__openTimes {
    border: 1px solid #00579e;
    margin-top: 20px;
    font-size: 85%;
    width: 100%;
}
.serviceFinderWidget__openTimes td, .serviceFinderWidget__openTimes th {
    padding: 5px;
}

.serviceFinderWidget__todaysTimes {
margin: 0px 10px 0px 10px;
}

