<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <%- partial("_components/header") %>
<h1>NHS Choices</h1>
<p>Bootstrap, a sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.</p>
</body>
</html>
